.header-container {
    display: flex;
    height: 50px;
    padding: var(--spasing-small);
    background-color: var(--color-medium);
}
.header-counter {
    margin-left: auto;
    padding-right: var(--spasing-large);
    font-weight: bold;
    cursor: pointer;
}